$base: #0f1923;
$white: #ece8e1;
$pink: hsl(354, 42%, 80%);
$blue: #adefd1ff;
$brown: #755139ff;
$green: #7ceaa4;
$purple: #3b3d54;

$height: 54px;

* {
  box-sizing: border-box;
  ::selection {
    background: rgb(255, 255, 255);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #2c2c2c;
  font-family: "Poppins SemiBold";
}

a {
  color: white;
}

#background {
  perspective: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: -00px;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c2c2c;
  font-size: 14px;

}

#layer1 {
  transform: translateZ(-500px) scale(5);
  z-index: 1;
  text-align: center;
  color: white;
  top: 10%;
  font-size: 16px;
  mix-blend-mode: exclusion;
}

.layer {
  animation: bounceInDown 2s ease 0s 1 normal forwards;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

.layer img {
  display: block;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0px 0px 10px rgb(158, 255, 215));
}

#layer6 {
  transform: translateZ(0px) scale(1);
  z-index: 6;
}

#layer6 img {
  position: fixed;
  left: 0;
  bottom: -1%;
  width: 100%;
}

.content {
  background: #d6d6d6;
  color: white;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  height: fit-content;
  z-index: 30;
  text-align: center;
}

.column-2 {
  color: #d6d6d6;
  float: left;
  width: 45%;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 30px;
  margin-right: 30px;
  margin-left: 100px;
  background: linear-gradient(-45deg, #270c25, #e73c7e, #00c573, #007038);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  line-height: 2;
  border-radius: 200px;

  p {
    mix-blend-mode: normal;
  }
}

.purple {
  color: #755139ff;
}

@font-face {
  font-family: "Federant";
  src: url("./fonts/Federant.ttf");
}


@font-face {
  font-family: "Poppins SemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}

#name_title {
  font-size: 30px;
  font-family: "Federant";
  letter-spacing: 1px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

#name_title:before {
  content: attr(data-heading);
  color: #adefd1ff;
  animation: flicker 5s linear infinite;
}

#red {
  color: #adefd1ff;
}

.header {
  padding: 10px 16px;
  background: transparent;
  color: #f1f1f1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

nav {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  mix-blend-mode: exclusion;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 10px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  clear: both;
  display: inline-block;
  mix-blend-mode: difference;
}

#innernav {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #cbcbcb;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  font-size: 50px;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 5px #233142;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

.container1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

// Base Divider class
.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 1em -1em;
  color: #2c2c2c;
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.glow {
  &:before,
  &:after {
    height: 6px;
    border-radius: 10px;
  }

  &:before {
    background: #3a3a3a;
  }

  &:after {
    background: #755139ff;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  overflow: hidden;

  &__image {
    position: relative;
    display: flex;

    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;

    border-radius: 50%;
    background-image: url("images/pfp.jpg");
    background-size: cover;
    transition: ease-in-out 0.3s;

    z-index: 2;
    &:before {
      content: " ";
      position: absolute;

      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;

      background: inherit;
      background-position: bottom;
      transform: scaleX(0.4);
      transition: ease-in-out 0.4s;
      border-radius: 120px;
      transform-origin: right;
      opacity: 0;

      z-index: -1;
    }
    .container__info {
      position: relative;
      padding: 8%;
      line-height: 1.8;
      transition: ease-in-out 0.3s;
      opacity: 0;
      background: linear-gradient(-45deg, #00aca3, #aaffed, #755139ff);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      line-height: 2;
      border-radius: 500px;

      p {
        color: #424242;
        mix-blend-mode: normal;
      }
    }
    .container__location {
      transition-delay: 0.15s;
    }
    &:hover {
      border-radius: 0;
      width: 450px;
      height: 310px;
      border: 10px solid $blue;
      border-radius: 20px;

      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
        0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1),
        0px 24px 32px rgba(9, 55, 53, 0.14);

      .container__info {
        transform: translate3d(-60%, 0px, 0px);
        opacity: 1;
      }
    }
  }
}
.link {
  border-bottom: 1px solid transparent;
  color: #06c0a8;
  text-decoration: none;
  transition: ease-in 0.13s;
  &:hover {
    background-color: #adefd1ff;
    color: #ffffff;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

$transition: 0.3s ease-out all;

#cv-div {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  & a {
    width: 100%;
    max-width: 240px;
    height: $height;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: $pink;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba($brown, 0.3);
    position: relative;
    margin: 10px 0;
    &.white:hover > p {
      color: $base;
    }
    &.white > p {
      background: $brown;
      color: $white;
      & span.base {
        border: 1px solid transparent;
      }
    }

    &:before {
      right: 0;
      left: initial;
    }
    & p {
      margin: 0;
      height: $height;
      line-height: $height;
      box-sizing: border-box;
      z-index: 1;
      left: 0;
      width: 100%;
      position: relative;
      overflow: hidden;
      & span.base {
        box-sizing: border-box;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        border: 1px solid $pink;
        &:before {
          content: "";
          width: 2px;
          height: 2px;
          left: -1px;
          top: -1px;
          background: $base;
          position: absolute;
          transition: $transition;
        }
      }
      & span.bg {
        left: -5%;
        position: absolute;
        background: $blue;
        width: 0;
        height: 100%;
        z-index: 3;
        transition: $transition;
        transform: skewX(-10deg);
      }
      & span.text {
        z-index: 4;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        &:after {
          content: "";
          width: 4px;
          height: 4px;
          right: 0;
          bottom: 0;
          background: $base;
          position: absolute;
          transition: $transition;
          z-index: 5;
        }
      }
    }
    &:hover {
      color: $white;
      & span.bg {
        width: 110%;
      }
      & span.text:after {
        background: $white;
      }
    }
  }
}

.icon-scroll,
.icon-scroll:before {
  filter: drop-shadow(0px 0px 10px $brown);

  position: absolute;
  left: 50%;
}
.icon-scroll {
  filter: drop-shadow(0px 0px 10px $brown);

  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 80%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px $brown;
  border-radius: 25px;
  &:before {
    filter: drop-shadow(0px 0px 10px $brown);
    content: "";
    width: 8px;
    height: 8px;
    background: $brown;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

@keyframes scroll {
  from {
    top: 5px;
  }
  to {
    top: 18px;
  }
  100% {
    opacity: 0;
  }
}

.svg{
  stroke-width: 20;
  stroke: $blue;
  stroke-linejoin: round;
  stroke-linecap:round;
  position:absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

$total: 10;
@for $i from 1 through $total {
  $scale:random(2) - .4;
  
  .svg:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to{
       bottom:150vh;
       transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}