* {
  box-sizing: border-box;
  ::selection {
    background: rgb(255, 255, 255);
  }
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background: #2c2c2c;
  font-family: "Poppins SemiBold";
}

a {
  color: white;
}

#container {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: -00px;
}

.layer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

.layer img {
  display: block;
  position: absolute;
  bottom: 0;
  -moz-box-shadow: 0 0 5px #fff;
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #ff0000;
}

#layer1 {
  transform: translateZ(-500px) scale(5);
  z-index: 1;
  text-align: center;
  color: white;
  top: 20%;
  font-size: 18px;
  mix-blend-mode: exclusion;
}

#layer6 {
  transform: translateZ(0px) scale(1);
  z-index: 6;
}

#layer6 img {
  position: fixed;
  left: 0;
  bottom: -1%;
  width: 100%;
}

.content {
  background: #d6d6d6;
  color: white;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 30;
  text-align: center;

  h1 {
    color: #2c2c2c;
    width: 50px;
    height: 50px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 10%;
    margin: -25px 70px 0 -25px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.purple {
  color: purple;
}

@font-face {
  font-family: "Federant";
  src: url("./fonts/Federant.ttf");
}

#name_title {
  font-family: "Federant";
  letter-spacing: 1px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

#name_title:before {
  content: attr(data-heading);
  color: #2ec272;
  animation: flicker 5s linear infinite;
}

#red {
  color: #2ec272;
}

.header {
  padding: 10px 16px;
  background: transparent;
  color: #f1f1f1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

nav {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  mix-blend-mode: exclusion;
  mask: linear-gradient(black 7rem, transparent);
  -webkit-mask: linear-gradient(black 7rem, transparent);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  pointer-events: none;
  touch-action: none;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 10px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  clear: both;
  display: inline-block;
  mix-blend-mode: difference;
}

#innernav {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #cbcbcb;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  font-size: 50px;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 5px #2ec272;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

iframe {
  float: right;
  width: 70%;
}
